{%- set articleLocalities = article.localities | getLocalities(localities) -%}
{% if articleLocalities.length > 0 %}
  <div class="article-location">
    {%- for loc in articleLocalities -%}
      {%- set region = loc.region | getRegion(regions) -%}
      <a href="/{{ locale }}/localities/{{ loc.slug }}">
        {{ loc.name }}
      </a>
      (<a href="/{{ locale }}/regions/{{ region.slug }}">{{ region.name }}</a>)

      {% if not loop.last %}, {% endif %}
    {%- endfor -%}
  </div>
{% endif %}
