<time class="article-date" datetime="{{ article.published_at }}">
  {% if locale == 'es' %}
    Publicado el
  {% else %}
    Published on
  {% endif %}

  {{ article.published_at | formatDate }}
</time>
