{% if article.enrichedLocalities.length > 0 %}
  <div class="article-location">
    {%- for loc in article.enrichedLocalities -%}
      <a href="/{{ locale }}/localities/{{ loc.slug }}">
        {{ loc.name }}
      </a>
      (<a href="/{{ locale }}/regions/{{ loc.region.slug }}">{{ loc.region.name }}</a>)

      {% if not loop.last %}, {% endif %}
    {%- endfor -%}
  </div>
{% endif %}
