---
layout: layouts/main.njk
pagination:
  data: en_articles
  size: 1
  alias: article
eleventyComputed:
  title: "{{ article.title }} – Mythical Places of Jaén"
permalink: /en/articles/{{ article.slug }}.html

locale: "en"
---

{% include "partials/article.njk" %}
