---
layout: layouts/main.njk
title: Mythical Places of Jaén
pagination:
  data: en_articles
  size: 10
  reverse: true
  alias: articles
permalink: "/en/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{% set locale = "en" %}
{% set readMoreText = "Read more »" %}
{% set paginationPrevText = "« Newer" %}
{% set paginationNextText = "Older »" %}
{% include "partials/article-teaser-list.njk" %}
