---
layout: layouts/main.njk
pagination:
  data: en_locality_pages
  size: 1
  alias: localityPage
eleventyComputed:
  title: "{{ localityPage.locality.name }} – Mythical Places of Jaén"
permalink: /en/localities/{{ localityPage.locality.slug }}{% if localityPage.pagination.pageNumber > 0 %}/page/{{ localityPage.pagination.pageNumber + 1 }}{% endif %}/

locale: "en"
paginationPrevText: "« Newer"
paginationNextText: "Older »"
---

{% set readMoreText = "Read full article »" %}
{% set locality = localityPage.locality %}
{% set articles = localityPage.articles %}
{% set pagination = localityPage.pagination %}

<div class="locality-header">
  <h1 class="locality-title">{{ locality.name }}</h1>
  <p class="locality-region">{{ locality.region }}</p>
</div>

{% include "partials/index-of-articles.njk" %}
