---
layout: layouts/main.njk
title: Lugares míticos de Jaén
permalink: /es/
---

{% set articles = es_articles | reverse | limit(10) %}
{% set locale = "es" %}
{% set readMoreText = "Ver el reportarje completo »" %}
{% include "partials/article-teaser-list.njk" %}
