---
layout: layouts/main.njk
pagination:
  data: es_region_pages
  size: 1
  alias: regionPage
eleventyComputed:
  title: "{{ regionPage.region.name }} – Lugares míticos de Jaén"
permalink: /es/regions/{{ regionPage.region.slug }}{% if regionPage.pagination.pageNumber > 0 %}/page/{{ regionPage.pagination.pageNumber + 1 }}{% endif %}/

locale: "es"
paginationPrevText: "« Más recientes"
paginationNextText: "Más antiguos »"
---

{% set readMoreText = "Ver el reportaje completo »" %}
{% set region = regionPage.region %}
{% set articles = regionPage.articles %}
{% set pagination = regionPage.pagination %}

<div class="region-header">
  <h1 class="region-title">{{ region.name }}</h1>
</div>

{% include "partials/index-of-articles.njk" %}
