---
layout: layouts/main.njk
pagination:
  data: all_pages.all_articles
  size: 1
  alias: article
eleventyComputed:
  title: "{{ article.title }} – {{ i18n[article.locale].siteTitle }}"
  permalink: "{{ article.locale }}/articles/{{ article.slug }}.html"
  locale: "{{ article.locale }}"
---

{% include "partials/article.njk" %}
