---
layout: layouts/main.njk
pagination:
  data: all_pages.all_home_pages
  size: 1
  alias: indexPage
eleventyComputed:
  title: "{{ i18n[indexPage.locale].siteTitle }}"
  permalink: "{{ indexPage.locale }}/index.html"
  locale: "{{ indexPage.locale }}"
---
