---
layout: layouts/main.njk
pagination:
  data: legal_pages.team
  size: 1
  alias: pageData
eleventyComputed:
  title: "{{ i18n[pageData.locale].footer.team }} — {{ i18n[pageData.locale].siteTitle }}"
  permalink: "{{ pageData.locale }}/team/index.html"
  locale: "{{ pageData.locale }}"
---

<div class="page-header">
  <h1 class="page-title">{{ i18n[pageData.locale].footer.team }}</h1>
</div>

<div class="page-content">
  {%- if pageData.locale == "en" -%}
    <p>Coming soon...</p>
  {%- else -%}
    <p>Próximamente...</p>
  {%- endif -%}
</div>
